<li><a href="{{ site.parameters-reference }}" class="otherLinkColour">Reference</a>
    <ul>
        {%- if page.url contains '/reference/' or page.url contains '/reference-v' -%}
        <li><a href="{{ site.parameters-reference }}label-recognition-parameter/" class="otherLinkColour">LabelRecognitionParameter Object</a>
            <ul>
                {%- if page.url contains '/label-recognition-parameter/' or page.url contains '/label-recognition-parameter-v' -%}
                <li><a href="{{ site.parameters-reference }}label-recognition-parameter/parameter-control.html" class="otherLinkColour">LabelRecognitionParameter Parameters</a></li>
                {%- endif -%}
            </ul>
        </li>
        <li><a href="{{ site.parameters-reference }}reference-region/" class="otherLinkColour">ReferenceRegion Object</a>
            <ul>
                {%- if page.url contains '/reference-region/' or page.url contains '/reference-region-v' -%}
                <li><a href="{{ site.parameters-reference }}reference-region/parameter-control.html" class="otherLinkColour">ReferenceRegion Parameters</a></li>
                {%- endif -%}
            </ul>
        </li>
        <li><a href="{{ site.parameters-reference }}text-area/" class="otherLinkColour">TextArea Object</a>
            <ul>
                {%- if page.url contains '/text-area/' or page.url contains '/text-area-v' -%}
                <li><a href="{{ site.parameters-reference }}text-area/parameter-control.html" class="otherLinkColour">TextArea Parameters</a></li>
                {%- endif -%}
            </ul>
        </li> 
        <li><a href="{{ site.parameters-reference }}line-specification/" class="otherLinkColour">LineSpecification Object</a>
            <ul>
                {%- if page.url contains '/line-specification/' or page.url contains '/line-specification-v' -%}
                <li><a href="{{ site.parameters-reference }}line-specification/parameter-control.html" class="otherLinkColour">LineSpecification Parameters</a></li>
                {%- endif -%}
            </ul>
        </li> 
        <li><a href="{{ site.parameters-reference }}character-model/" class="otherLinkColour">CharacterModel Object</a>
            <ul>
                {%- if page.url contains '/character-model/' or page.url contains '/character-model-v' -%}
                <li><a href="{{ site.parameters-reference }}character-model/parameter-control.html" class="otherLinkColour">CharacterModel Parameters</a></li>
                {%- endif -%}
            </ul>
        </li> 
        {%- endif -%}               
    </ul>
</li>
