<li><a href="{{ site.enumerations }}" class="otherLinkColour">Enumerations</a>
    <ul>
        {%- if page.url contains '/enum/' or page.url contains '/enum-v' -%}
        <li><a href="{{ site.enumerations }}error-code.html" class="otherLinkColour">Error Code</a></li>
        <li><a href="{{ site.enumerations }}other-enums.html" class="otherLinkColour">Other Enumerations</a></li>
        <li><a href="{{ site.enumerations }}parameter-mode-enums.html" class="otherLinkColour">Parameter Mode Enumerations</a></li>
        {%- endif -%}
    </ul>
</li>