<li><a href="{{ site.parameters_reference }}" class="otherLinkColour">Reference</a>
    <ul>
        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/" class="otherLinkColour">LabelRecognitionParameter Object</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}label-recognition-parameter/content-organization-control.html" class="otherLinkColour">Content Organization Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}label-recognition-parameter/cost-control.html" class="otherLinkColour">Cost Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}label-recognition-parameter/format-control.html" class="otherLinkColour">Format Control Parameters</a>
                <li><a href="{{ site.parameters_reference }}label-recognition-parameter/image-process-control.html" class="otherLinkColour">Image Process Control Parameters</a>
                    <ul>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/BarcodeColourModes.html#barcodecolourmodes" class="otherLinkColour">BarcodeColourModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/BarcodeComplementModes.html#barcodecomplementmodes" class="otherLinkColour">BarcodeComplementModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/BinarizationModes.html#binarizationmodes" class="otherLinkColour">BinarizationModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/ColourClusteringModes.html#colourclusteringmodes" class="otherLinkColour">ColourClusteringModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/ColourConversionModes.html#colourconversionmodes" class="otherLinkColour">ColourConversionModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/DeblurModes.html#deblurmodes" class="otherLinkColour">DeblurModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/DeformationResistingModes.html#deformationresistingmodes" class="otherLinkColour">DeformationResistingModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/DPMCodeReadingModes.html#dpmcodereadingmodes" class="otherLinkColour">DPMCodeReadingModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/GrayscaleTransformationModes.html#grayscaletransformationmodes" class="otherLinkColour">GrayscaleTransformationModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/ImagePreprocessingModes.html#imagepreprocessingmodes" class="otherLinkColour">ImagePreprocessingModes</a></li>               
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/LocalizationModes.html#localizationmodes" class="otherLinkColour">LocalizationModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/RegionPredetectionModes.html#regionpredetectionmodes" class="otherLinkColour">RegionPredetectionModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/ScaleUpModes.html#scaleupmodes" class="otherLinkColour">ScaleUpModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/TextAssistedCorrectionMode.html#textassistedcorrectionmode" class="otherLinkColour">TextAssistedCorrectionMode</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/TextFilterModes.html#textfiltermodes" class="otherLinkColour">TextFilterModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/TextureDetectionModes.html#texturedetectionmodes" class="otherLinkColour">TextureDetectionModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/image-process-control.html#deblurlevel" class="otherLinkColour">Other Image Process Control Parameters</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.parameters_reference }}label-recognition-parameter/result-control.html" class="otherLinkColour">Result Control Parameters</a>
                    <ul>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/IntermediateResultSavingMode.html#intermediateresultsavingmode" class="otherLinkColour">IntermediateResultSavingMode</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/TextResultOrderModes.html#textresultordermodes" class="otherLinkColour">TextResultOrderModes</a></li>
                        <li><a href="{{ site.parameters_reference }}label-recognition-parameter/result-control.html#intermediateresulttypes" class="otherLinkColour">Other Result Control Parameters</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.parameters_reference }}reference-region/" class="otherLinkColour">ReferenceRegion Object</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}reference-region/format-control.html" class="otherLinkColour">Format Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}reference-region/image-process-control.html" class="otherLinkColour">Image Process Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}reference-region/cost-control.html" class="otherLinkColour">Cost Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}reference-region/content-organization-control.html" class="otherLinkColour">Content Organization Control Parameters</a></li>
            </ul>
        </li>
        <li><a href="{{ site.parameters_reference }}text-area/" class="otherLinkColour">TextArea Object</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}text-area/image-process-control.html" class="otherLinkColour">Image Process Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}text-area/format-control.html" class="otherLinkColour">Format Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}text-area/result-control.html" class="otherLinkColour">Result Control Parameters</a></li>
                <li><a href="{{ site.parameters_reference }}text-area/content-organization-control.html" class="otherLinkColour">Content Organization Control Parameters</a></li>
            </ul>
        </li>                
    </ul>
</li>