<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>



  </system.web>

  <system.webServer>

    <rewrite>

      <rules>

        <rule name="Redirect cpp user guide" stopProcessing="true">

          <match url="c-cplusplus/user-guide.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="c-cplusplus/c-user-guide.html" appendQueryString="true"  />

        </rule>

      </rules>

    </rewrite>

  </system.webServer>

</configuration>