<style>
  #cp-header .action-buttons { display: none; }
  #mdHeader { border-bottom: 0!important; }
  #sideBarCnt.sidebar-fixed { position: fixed; top: 88px; max-height: unset; }
  .rightSideMenu.rsm-fixed { position: fixed; top: 100px; }
  #docHead { top: 151px; }
  .productMenu .downloadBtn:hover { color: #ffffff!important; }
  @media (max-width: 1679px){
    #docHead {
      top: 145px;
    }
  }
</style>

<div id="LabelRecognizer" class="main">
    <div id="LabelRecognizerMenu" class="productMenu">
        <div class="container pcProductMenu">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="menuList">
                        <li class="title"><a class="orangeLink" href="https://www.dynamsoft.com/label-recognition/overview">Dynamsoft Label Recognizer</a></li>
                        <li class="item overview">
                            <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/overview">Overview</a>
                        </li>
                        <li class="item features">
                            <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/features">Features</a>
                        </li>
                        <li class="item useCases">
                            <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/use-cases">Use Cases</a>
                        </li>
                        <li class="item on">
                            <span class="showMenuMore textUpperCase">Dev Center <i class="icon-orange-angle"></i></span>
                            <ul class="ct-more" style="display: none">
                                <i class="icon-orange-angle"></i>
                                <li class="item"><a class="on" href="https://www.dynamsoft.com/label-recognition/introduction/">Documentation</a></li>
                                <li class="item"><a href="https://www.dynamsoft.com/label-recognition/code-gallery/">Code Gallery</a></li>
                                <li class="item"><a href="{{site.release-notes}}">Release Notes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container mobileProductMenu">
            <div class="row">
                <div class="col-12">
                    <div class="productLogo"><i class="dlr-logo"></i> <i class="icon-orange-angle"></i></div>
                    <div id="dlrCurrentPage" class="fontOswald fr currentPage">Documentation</div>
                </div>
            </div>
        </div>
        <div class="mobileProductDetailMenu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="menuList">
                            <li class="item">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/overview">Overview</a>
                            </li>
                            <li class="item">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/features">Features</a>
                            </li>
                            <li class="item">

                                <a class="textUpperCase" href="https://www.dynamsoft.com/label-recognition/use-cases">Use Cases</a>
                            </li>
                            <li class="item">
                                <span class="showMenuMore textUpperCase">Dev Center  <i class="icon-orange-angle"></i></span>
                                <ul class="ct-more" style="display: none">
                                    <li class="item"><a href="https://www.dynamsoft.com/label-recognition/introduction/">Documentation</a></li>
                                    <li class="item"><a href="https://www.dynamsoft.com/label-recognition/code-gallery/">Code Gallery</a></li>
                                    <li class="item"><a href="{{site.release-notes}}">Release Notes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

