<li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
    <ul>
        {%- if page.url contains '/programming/' or page.url contains '/programming-v' -%}
        {%- include sidelist-programming/programming-android.html -%}
        {%- include sidelist-programming/programming-c-cpp.html -%}
        {%- include sidelist-programming/programming-dotnet.html -%}
        {%- include sidelist-programming/programming-java.html -%}
        {%- include sidelist-programming/programming-objectivec-swift.html -%}
        {%- endif -%}
    </ul>
</li>