<li><a href="{{ site.parameters-reference }}" class="otherLinkColour">Parameter Reference</a>
    <ul>
        <li><a class="otherLinkColour ">Capture Vision Template</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/image-roi-processing-name-array.html" class="otherLinkColour">ImageROIProcessingNameArray</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/max-parallel-tasks.html" class="otherLinkColour">MaxParallelTasks</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/image-source-name.html" class="otherLinkColour">ImageSourceName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/output-raw-image.html" class="otherLinkColour">OutputRawImage</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/semantic-processing-name-array.html" class="otherLinkColour">SemanticProcessingNameArray</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}capture-vision-template/timeout.html" class="otherLinkColour">Timeout</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Target ROI Def</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}target-roi-def/base-target-roidef-name.html" class="otherLinkColour">BaseTargetROIDefName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}target-roi-def/location.html" class="otherLinkColour">Location</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}target-roi-def/pause-flag.html" class="otherLinkColour">PauseFlag</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}target-roi-def/task-setting-name-array.html" class="otherLinkColour">TaskSettingNameArray</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Label Recognizer Task Settings</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/base-label-recognizer-task-setting-name.html" class="otherLinkColour">BaseLabelRecognizerTaskSettingName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/dictionary-correction-thresholds.html" class="otherLinkColour">DictionaryCorrectionThresholds</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/dictionary-path.html" class="otherLinkColour">DictionaryPath</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/string-length-range.html" class="otherLinkColour">StringLengthRange</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/string-regex-pattern.html" class="otherLinkColour">StringRegExPattern</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">ImageParameter</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/base-image-parameter-name.html" class="otherLinkColour">BaseImageParameterName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/if-erase-text-zone.html" class="otherLinkColour">IfEraseTextZone</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/scale-up-modes.html" class="otherLinkColour">ScaleUpModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/text-detection-mode.html" class="otherLinkColour">TextDetectionMode</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-parameter/texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">TextLine Specification</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/applicable-text-line-numbers.html" class="otherLinkColour">ApplicableTextLineNumbers</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/base-text-line-specification-name.html" class="otherLinkColour">BaseTextLineSpecificationName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/char-height-range.html" class="otherLinkColour">CharHeightRange</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/character-model-name.html" class="otherLinkColour">CharacterModelName</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/character-normalization-modes.html" class="otherLinkColour">CharacterNormalizationModes</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}text-line-specification/position.html" class="otherLinkColour">Text line position parameters</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Character Model</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}character-model/filter-file-path.html" class="otherLinkColour">FilterFilePath</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Image Source</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}image-source-options/file-filter.html" class="otherLinkColour">FileFilter</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-source-options/pdf-reading-mode.html" class="otherLinkColour">PDFReadingMode</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-source-options/recursive.html" class="otherLinkColour">Recursive</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}image-source-options/type.html" class="otherLinkColour">Type</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Global Parameter</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}global-parameter/max-total-image-dimension.html" class="otherLinkColour">MaxTotalImageDimension</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Shared Parameter</a>
            <ul>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/directory-path.html" class="otherLinkColour">DirectoryPath</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/max-threads-in-one-task.html" class="otherLinkColour">MaxThreadsInOneTask</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/name.html" class="otherLinkColour">Name</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/section-image-parameter-array.html" class="otherLinkColour">SectionImageParameterArray</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/start-section.html" class="otherLinkColour">StartSection</a></li>
                <li><a href="{{ site.dcv_parameters_reference }}shared-parameter/terminate-setting.html" class="otherLinkColour">TerminateSetting</a></li>
            </ul>        
        </li>
    </ul>
</li>