<li class="category">DEVELOPMENT</li>
<li>
    <a target="_blank" href="{{ site.jsvascript }}" class="otherLinkColour refreshLink">Web (Client Side)</a></li>
<li>
    <a class="otherLinkColour">Mobile</a>
    <ul>
        <li><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.objectivec-swift }}" class="otherLinkColour refreshLink">iOS</a></li>
    </ul>
</li>
<li>
    <a class="otherLinkColour">Server / Desktop</a>
    <ul>
        <li><a target="_blank" href="{{ site.c-cplusplus}}cpp-index.html?src=cpp" class="otherLinkColour refreshLink">C++</a></li>
    </ul>
</li>