<li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
    <ul>
        {%- include sidelist-programming/programming-android.html -%}
        {%- include sidelist-programming/programming-objectivec-swift.html -%}
        {%- include sidelist-programming/programming-dotnet.html -%}
        {%- include sidelist-programming/programming-java.html -%}
        {%- include sidelist-programming/programming-c.html -%}
        {%- include sidelist-programming/programming-cpp.html -%}
    </ul>
</li>