<li><a href="{{ site.cplusplus-3 }}cpp-index.html" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.cplusplus-3 }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.cplusplus-3-api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.cplusplus-3-api }}character-result.html?src=cpp" class="otherLinkColour">CharacterResult</a></li>
                <li><a href="{{ site.cplusplus-3-api }}localized-text-line-element.html?src=cpp" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li><a href="{{ site.cplusplus-3-api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li><a href="{{ site.cplusplus-3-api }}recognized-text-line-element.html?src=cpp" class="otherLinkColour">RecognizedTextLineElement</a></li>
                <li><a href="{{ site.cplusplus-3-api }}recognized-text-lines-result-array?src=cpp" class="otherLinkColour">RecognizedTextLinesResultArray</a></li>
                <li><a href="{{ site.cplusplus-3-api }}recognized-text-lines-result?src=cpp" class="otherLinkColour">RecognizedTextLinesResult</a></li>
                <li><a href="{{ site.cplusplus-3-api }}recognized-text-lines-unit.html?src=cpp" class="otherLinkColour">RecognizedTextLinesUnit</a></li>
                <li><a href="{{ site.cplusplus-3-api }}text-line-result-item.html?src=cpp" class="otherLinkColour">TextLinesResultItem</a></li>
            </ul>
        </li>

        <li><a href="{{ site.c-cplusplus-release-notes }}index.html?src=cpp" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-2.html?src=cpp" class="otherLinkColour">Version 3.x</a></li>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-2.html?src=cpp" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html?src=cpp" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
