<li><a href="{{ site.c-cplusplus }}cpp-index.html" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.c-cplusplus }}cpp-user-guide.html" class="otherLinkColour">User Guide</a></li>
        
        <li><a href="{{ site.c-cplusplus-api-reference }}cpp-index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.cpp-methods }}" class="otherLinkColour">CLabelRecognition Class</a>
                    <ul>
                            <li><a href="{{ site.cpp-methods }}general.html" class="otherLinkColour">General Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}result.html" class="otherLinkColour">Result Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.c-cplusplus-structs }}" class="otherLinkColour">Structs</a>
                    <ul>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-image-data.html" class="otherLinkColour">DLRImageData</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-point.html" class="otherLinkColour">DLRPoint</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-quadrilateral.html" class="otherLinkColour">DLRQuadrilateral</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-result-array.html" class="otherLinkColour">DLRResultArray</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-runtime-settings.html" class="otherLinkColour">DLRRuntimeSettings</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dm-lts-connection-parameters.html" class="otherLinkColour">DM_LTSConnectionParameters</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.c-cplusplus-release-notes }}index.html?src=cpp" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html?src=cpp" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>