<li><a href="{{ site.objectivec-swift }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a href="{{ site.objectivec-swift }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.objectivec-swift-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-api }}label-recognizer.html" class="otherLinkColour">DynamsoftLabelRecognizer</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.objectivec-swift-api }}quadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}image-data.html" class="otherLinkColour">iImageData</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}barcode-result.html" class="otherLinkColour">iBarcodeResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-runtime-settings.html" class="otherLinkColour">iDLRRuntimeSettings</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-reference-region.html" class="otherLinkColour">iDLRReferenceRegion</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-result.html" class="otherLinkColour">iDLRResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-line-result.html" class="otherLinkColour">iDLRLineResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-character-result.html" class="otherLinkColour">iDLRCharacterResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-dictionary-correction-threshold.html" class="otherLinkColour">iDLRDictionaryCorrectionThreshold</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-further-modes.html" class="otherLinkColour">iDLRFurtherModes</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.objectivec-swift-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-release-notes }}ios-2.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.objectivec-swift-release-notes }}ios-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>