<li><a href="{{ site.c-cplusplus }}cpp-index.html" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.c-cplusplus }}cpp-user-guide.html" class="otherLinkColour">User Guide</a></li>
        
        <li><a href="{{ site.c-cplusplus-api-reference }}cpp-index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-api-reference }}label-recognizer.html" class="otherLinkColour">CLabelRecognizer</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Structs</a>
                    <ul>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-character-result.html?src=cpp" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-image-data.html?src=cpp" class="otherLinkColour">DLRImageData</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-line-result.html?src=cpp" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-point.html?src=cpp" class="otherLinkColour">DLRPoint</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-quadrilateral.html?src=cpp" class="otherLinkColour">DLRQuadrilateral</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-reference-region.html?src=cpp" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-result.html?src=cpp" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-result-array.html?src=cpp" class="otherLinkColour">DLRResultArray</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-runtime-settings.html?src=cpp" class="otherLinkColour">DLRRuntimeSettings</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dm-lts-connection-parameters.html?src=cpp" class="otherLinkColour">DM_LTSConnectionParameters</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-dictionary-correction-threshold.html?src=cpp" class="otherLinkColour">DLRDictionaryCorrectionThreshold</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.c-cplusplus-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-2.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>