<li><a href="{{ site.javascript }}" class="otherLinkColour">JavaScript</a>
    <ul>
        <li><a href="{{ site.javascript }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.javascript-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.javascript-api }}initialize.html" class="otherLinkColour">Initialization
                        Control</a></li>
                <li><a href="{{ site.javascript-api }}recognize.html" class="otherLinkColour">Recognition</a></li>
                <li><a href="{{ site.javascript-api }}settings.html" class="otherLinkColour">Settings</a></li>
                <li><a href="{{ site.javascript-api }}auxiliary.html" class="otherLinkColour">Auxiliary</a></li>
                <li><a href="{{ site.javascript-api }}interface/index.html" class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.javascript-api }}interface/dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.javascript-api }}interface/dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.javascript-api }}interface/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.javascript-api }}interface/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.javascript-api }}interface/dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.javascript-api }}interface/dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.javascript-api }}interface/dlr-scansettings.html" class="otherLinkColour">ScanSettings</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.javascript-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.javascript-release-notes }}javascript-2.html" class="otherLinkColour">Version
                        2.x</a></li>
            </ul>
        </li>
    </ul>
</li>