<li><a href="{{ site.c-cplusplus}}c-index.html" class="otherLinkColour">C</a>
    <ul>
        <li><a href="{{ site.c-cplusplus}}c-user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.c-cplusplus-api-reference }}c-index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-api-reference }}label-recognizer-functions.html" class="otherLinkColour">Primary API</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Structs</a>
                    <ul>
                        <li><a href="{{ site.c-cplusplus-api-reference }}point.html?src=c" class="otherLinkColour">DM_Point</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}quadrilateral.html?src=c" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}image-data.html?src=c" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}barcode-result-array.html?src=c" class="otherLinkColour">BarcodeResultArray</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}barcode-result.html?src=c" class="otherLinkColour">BarcodeResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-runtime-settings.html?src=c" class="otherLinkColour">DLR_RuntimeSettings</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-reference-region.html?src=c" class="otherLinkColour">DLR_ReferenceRegion</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-result-array.html?src=c" class="otherLinkColour">DLR_ResultArray</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-result.html?src=c" class="otherLinkColour">DLR_Result</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-line-result.html?src=c" class="otherLinkColour">DLR_LineResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-character-result.html?src=c" class="otherLinkColour">DLR_CharacterResult</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-dictionary-correction-threshold.html?src=c" class="otherLinkColour">DLR_DictionaryCorrectionThreshold</a></li>
                        <li><a href="{{ site.c-cplusplus-api-reference }}dlr-further-modes.html?src=c" class="otherLinkColour">DLR_FurtherModes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li><a href="{{ site.c-cplusplus-release-notes }}index.html?src=c" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-2.html?src=c" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html?src=c" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>