<li><a href="{{ site.c-cplusplus }}" class="otherLinkColour">C/C++</a>
    <ul>
        {%- if page.url contains '/cplusplus/' or page.url contains '/cplusplus-v' or page.url contains '/c-cplusplus/' or page.url contains '/c-cplusplus-v'-%}
        <li><a href="{{ site.c-cplusplus }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.c-cplusplus-api-reference }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.c-functions }}" class="otherLinkColour">C Functions</a>
                    <ul>
                        <li><a href="{{ site.c-functions }}general.html" class="otherLinkColour">General Methods</a></li>
                        <li><a href="{{ site.c-functions }}initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                        <li><a href="{{ site.c-functions }}recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                        <li><a href="{{ site.c-functions }}result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.c-functions }}settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.cpp-methods }}" class="otherLinkColour">CLabelRecognition Class</a>
                    <ul>
                            <li><a href="{{ site.cpp-methods }}general.html" class="otherLinkColour">General Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}result.html" class="otherLinkColour">Result Methods</a></li>
                            <li><a href="{{ site.cpp-methods }}settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.c-cplusplus-structs }}" class="otherLinkColour">Structs</a>
                    <ul>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-image-data.html" class="otherLinkColour">DLRImageData</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-point.html" class="otherLinkColour">DLRPoint</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-quadrilateral.html" class="otherLinkColour">DLRQuadrilateral</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-result-array.html" class="otherLinkColour">DLRResultArray</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dlr-runtime-settings.html" class="otherLinkColour">DLRRuntimeSettings</a></li>
                        <li><a href="{{ site.c-cplusplus-structs }}dm-lts-connection-parameters.html" class="otherLinkColour">DM_LTSConnectionParameters</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.c-cplusplus-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html" class="otherLinkColour">Version 1.0</a></li>
            </ul>
        </li>
        {%- endif -%}
    </ul>
</li>