<li><a href="{{ site.android }}" class="otherLinkColour">Android</a>
    <ul>
        <li><a href="{{ site.android }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.android-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.android-api }}label-recognition/" class="otherLinkColour">LabelRecognition Methods</a>
                    <ul>
                            <li><a href="{{ site.android-api }}label-recognition/general.html" class="otherLinkColour">General Methods</a></li>
                            <li><a href="{{ site.android-api }}label-recognition/initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                            <li><a href="{{ site.android-api }}label-recognition/recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                            <li><a href="{{ site.android-api }}label-recognition/settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.android-api }}class/" class="otherLinkColour">Class</a>
                    <ul>
                        <li><a href="{{ site.android-api }}class/dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-image-data.html" class="otherLinkColour">DLRImageData</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-point.html" class="otherLinkColour">DLRPoint</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-quadrilateral.html" class="otherLinkColour">DLRQuadrilateral</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.android-api }}class/dlr-runtime-settings.html" class="otherLinkColour">DLRRuntimeSettings</a></li>
                        <li><a href="{{ site.android-api }}class/dm-lts-connection-parameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.android-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.android-release-notes }}android-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>