<li><a href="{{ site.java }}" class="otherLinkColour">Java</a>
    <ul>
        <li><a href="{{ site.java }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        
        {%- if page.url contains '/programming-v1' -%}
        <li><a href="{{ site.java-api }}label-recognition.html" class="otherLinkColour">Primary API</a></li> 
        <li><a href="{{ site.java-api }}" class="otherLinkColour">Auxiliary API</a>
            <ul>
                <li><a href="{{ site.java-api }}label-recognition-exception.html" class="otherLinkColour">LabelRecognitionException</a></li>
                <li><a href="{{ site.java-api }}dlr-runtime-settings.html" class="otherLinkColour">DLRRuntimeSettings</a></li>
                <li><a href="{{ site.java-api }}dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                <li><a href="{{ site.java-api }}dlr-quadrilateral.html" class="otherLinkColour">DLRQuadrilateral</a></li>
                <li><a href="{{ site.java-api }}dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                <li><a href="{{ site.java-api }}dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                <li><a href="{{ site.java-api }}dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                <li><a href="{{ site.java-api }}dlr-image-data.html" class="otherLinkColour">DLRImageData</a></li>
                <li><a href="{{ site.java-api }}dm-lts-connection-parameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
            </ul>
        </li>
        {%- else -%}

        <li><a href="{{ site.java-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.java-api }}label-recognizer.html" class="otherLinkColour">LabelRecognizer</a></li> 
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.java-api }}label-recognizer-exception.html" class="otherLinkColour">LabelRecognizerException</a></li>
                        <li><a href="{{ site.java-api }}dlr-runtime-settings.html" class="otherLinkColour">DLRRuntimeSettings</a></li>
                        <li><a href="{{ site.java-api }}dlr-reference-region.html" class="otherLinkColour">DLRReferenceRegion</a></li>
                        <li><a href="{{ site.java-api }}dlr-quadrilateral.html" class="otherLinkColour">DLRQuadrilateral</a></li>
                        <li><a href="{{ site.java-api }}dlr-result.html" class="otherLinkColour">DLRResult</a></li>
                        <li><a href="{{ site.java-api }}dlr-line-result.html" class="otherLinkColour">DLRLineResult</a></li>
                        <li><a href="{{ site.java-api }}dlr-character-result.html" class="otherLinkColour">DLRCharacterResult</a></li>
                        <li><a href="{{ site.java-api }}dlr-image-data.html" class="otherLinkColour">DLRImageData</a></li>
                        <li><a href="{{ site.java-api }}dm-lts-connection-parameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li><a href="{{ site.java-api }}dlr-dictionary-correction-threshold.html" class="otherLinkColour">DLRDictionaryCorrectionThreshold</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        {%- endif -%}
        
        <li><a href="{{ site.java-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.java-release-notes }}java-2.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.java-release-notes }}java-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>