<li><a href="{{ site.objectivec-swift }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a href="{{ site.objectivec-swift }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.objectivec-swift-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-api }}label-recognizer.html" class="otherLinkColour">DynamsoftLabelRecognizer</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.objectivec-swift-api }}quadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}image-data.html" class="otherLinkColour">iImageData</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}barcode-result.html" class="otherLinkColour">iBarcodeResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-runtime-settings.html" class="otherLinkColour">iDLRRuntimeSettings</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-reference-region.html" class="otherLinkColour">iDLRReferenceRegion</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-result.html" class="otherLinkColour">iDLRResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-line-result.html" class="otherLinkColour">iDLRLineResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-character-result.html" class="otherLinkColour">iDLRCharacterResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-dictionary-correction-threshold.html" class="otherLinkColour">iDLRDictionaryCorrectionThreshold</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}dlr-further-modes.html" class="otherLinkColour">iDLRFurtherModes</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}license-manager.html" class="otherLinkColour">DynamsoftLicenseManager</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/index.html" class="otherLinkColour">CameraEnhancer Library</a>
                    <ul>
                        <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/guide-of-drawing-items.html" class="otherLinkColour">UI Classes</a>
                            <ul>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/dceimageeditorview.html" class="otherLinkColour">DCEImageEditorView</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                            <ul>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/dcedrawinglayer.html" class="otherLinkColour">DCEDrawingLayer</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingitem.html" class="otherLinkColour">DrawingItem</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingitem-quad.html" class="otherLinkColour">QuadDrawingItem</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingitem-rect.html" class="otherLinkColour">RectDrawingItem</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingitem-text.html" class="otherLinkColour">TextDrawingItem</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingstyle.html" class="otherLinkColour">DrawingStyle</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/drawingstylemanager.html" class="otherLinkColour">DrawingStyleManager</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/region-definition.html" class="otherLinkColour">iRegionDefinition</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Protocol</a>
                            <ul>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/protocol-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                            <ul>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-enhancer-features.html" class="otherLinkColour">EnumEnhancerFeatures</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-frame-quality.html" class="otherLinkColour">EnumFrameQuality</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-camera-state.html" class="otherLinkColour">EnumCameraState</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-resolution.html" class="otherLinkColour">EnumResolution</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-drawing-item-state.html" class="otherLinkColour">EnumDrawingItemState</a></li>
                                <li><a href="{{ site.objectivec-swift-api }}camera-enhancer/enum-drawing-item-media-type.html" class="otherLinkColour">EnumDrawingItemMeidaType</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
                    <ul>
                        <li><a href="{{ site.objectivec-swift-api }}label-result-listener.html" class="otherLinkColour">LabelResultListener</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}license-verification-listener.html" class="otherLinkColour">LicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.objectivec-swift-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-release-notes }}ios-2.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.objectivec-swift-release-notes }}ios-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>