<li><a href="{{ site.objectivec-swift }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a href="{{ site.objectivec-swift }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.objectivec-swift-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-api }}methods/" class="otherLinkColour">Methods</a>
                    <ul>
                            <li><a href="{{ site.objectivec-swift-api }}methods/general.html" class="otherLinkColour">General Methods</a></li>
                            <li><a href="{{ site.objectivec-swift-api }}methods/initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                            <li><a href="{{ site.objectivec-swift-api }}methods/recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                            <li><a href="{{ site.objectivec-swift-api }}methods/settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.objectivec-swift-api }}class/" class="otherLinkColour">Class</a>
                    <ul>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-character-result.html" class="otherLinkColour">iDLRCharacterResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-image-data.html" class="otherLinkColour">iDLRImageData</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-line-result.html" class="otherLinkColour">iDLRLineResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-quadrilateral.html" class="otherLinkColour">iDLRQuadrilateral</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-reference-region.html" class="otherLinkColour">iDLRReferenceRegion</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-result.html" class="otherLinkColour">iDLRResult</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-runtime-settings.html" class="otherLinkColour">iDLRRuntimeSettings</a></li>
                        <li><a href="{{ site.objectivec-swift-api }}class/dlr-lts-connection-parameters.html" class="otherLinkColour">iDLRLTSConnectionParameters</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.objectivec-swift-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.objectivec-swift-release-notes }}ios-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>