<li><a href="{{ site.dotnet }}" class="otherLinkColour">.NET</a>
    <ul>
        <li><a href="{{ site.dotnet }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.dotnet_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.dotnet_api }}label-recognition/" class="otherLinkColour">LabelRecognition Methods</a>
                    <ul>
                            <li><a href="{{ site.dotnet_api }}label-recognition/general.html" class="otherLinkColour">General Methods</a></li>
                            <li><a href="{{ site.dotnet_api }}label-recognition/initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                            <li><a href="{{ site.dotnet_api }}label-recognition/recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                            <li><a href="{{ site.dotnet_api }}label-recognition/settings.html" class="otherLinkColour">Setting Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.dotnet_api }}class/" class="otherLinkColour">Class</a>
                    <ul>
                        <li><a href="{{ site.dotnet_api }}class/dlr-character-result.html" class="otherLinkColour">DLR_CharacterResult</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-image-data.html" class="otherLinkColour">DLR_ImageData</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-line-result.html" class="otherLinkColour">DLR_LineResult</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-quadrilateral.html" class="otherLinkColour">DLR_Quadrilateral</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-reference-region.html" class="otherLinkColour">DLR_ReferenceRegion</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-result.html" class="otherLinkColour">DLR_Result</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dlr-runtime-settings.html" class="otherLinkColour">DLR_RuntimeSettings</a></li>
                        <li><a href="{{ site.dotnet_api }}class/dm-lts-connection-parameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>                    
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.dotnet_release_notes }}dotnet-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>