<li><a href="{{ site.dotnet }}" class="otherLinkColour">.NET</a>
    <ul>
        <li><a href="{{ site.dotnet }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        
        <li><a href="{{ site.dotnet_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.dotnet_api }}label-recognizer.html" class="otherLinkColour">LabelRecognizer</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.dotnet_api }}quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.dotnet_api }}image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.dotnet_api }}barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                        <li><a href="{{ site.dotnet_api }}label-recognizer-exception.html" class="otherLinkColour">LabelRecognizerException</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-runtime-settings.html" class="otherLinkColour">DLR_RuntimeSettings</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-reference-region.html" class="otherLinkColour">DLR_ReferenceRegion</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-result.html" class="otherLinkColour">DLR_Result</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-line-result.html" class="otherLinkColour">DLR_LineResult</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-character-result.html" class="otherLinkColour">DLR_CharacterResult</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-dictionary-correction-threshold.html" class="otherLinkColour">DLR_DictionaryCorrectionThreshold</a></li>
                        <li><a href="{{ site.dotnet_api }}dlr-further-modes.html" class="otherLinkColour">DLR_FurtherModes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li><a href="{{ site.dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.dotnet_release_notes }}dotnet-2.html" class="otherLinkColour">Version 2.x</a></li>
                <li><a href="{{ site.dotnet_release_notes }}dotnet-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>